@import "variables";

// .posts {
//   margin: 0 auto;
// }

.post {
    width: 100%;
    margin: 20px auto;
    padding: 20px 0;

    @media (max-width: $tablet-max-width) {
        max-width: 660px;
    }

    body.dark &:not(:last-of-type) {
        border-bottom: 1px solid var(--border-color);
    }

    body.light &:not(:last-of-type) {
        border-bottom: 1px solid var(--border-color-light);
    }

    // %meta {
    //   font-size: 1rem;
    //   margin-bottom: 10px;
    //   color: var(--accent-alpha-70);
    // }

    // &-meta {
    //   @extend %meta;
    // }
    // &-meta-inline {
    //   @extend %meta;

    //   display: inline;
    // }

    &-meta {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    body.dark &-meta {
        color: var(--accent-alpha-70);
    }

    body.light &-meta {
        color: var(--accent-alpha-70-light);
    }

    &-title {
        position: relative;
        margin: 0 0 15px;
        padding-bottom: 15px;
        border-bottom: var(--border);

        &:after {
            content: '';
            position: absolute;
            bottom: 2px;
            display: block;
            width: 100%;
            border-bottom: var(--border);
        }
        
        a {
            text-decoration: none;
        }
    }

    body.dark &-title {
        --border: 3px dotted var(--accent);
        color: var(--accent);
    }

    body.light &-title {
        --border: 3px dotted var(--accent-light);
        color: var(--accent-light);
    }

    &-content {
        margin-top: 30px;
    }

    ul {
        list-style: none;

        li:before {
            content: '⦿';
            position: absolute;
            left: -20px;
        }
        
        body.dark li:before {
            color: var(--accent);
        }

        body.light li:before {
            color: var(--accent-light);
        }
        
        ul {

            li:before {
                content: '■';
                position: absolute;
                left: -20px;
            }

            body.dark li:before {
                color: var(--accent);
            }

            body.light li:before {
                color: var(--accent-light);
            }
            
            ul {

                li:before {
                    content: '►';
                    position: absolute;
                    left: -20px;
                    color: var(--accent);
                }

                body.dark li:before {
                    color: var(--accent);
                }

                body.light li:before {
                    color: var(--accent-light);
                }

            }
        }
    }
}

// TODO: try adapting this using a properly nested selector in the block above
//       for ul items.
.tag-list {
    @media(max-width: $phone-max-width) {
        margin-left: 5%;
    }
}

