:root {
  --accent: #81a1c1;
  --accent-alpha-20: #5e81ac20;
  --accent-alpha-70: #a3be8c;
  --background: #2e3440;
  --color: #eceff4;
  --border-color: #d8dee9;
  --accent-light: #bf616a;
  --accent-alpha-20-light: #bf616a20;
  --accent-alpha-70-light: #b48ead;
  --background-light: #eceff4;
  --color-light: #2e3440;
  --border-color-light: #434c5e;
}
